    <h1>Bizzle App</h1>
    <p>
      This is the home page for Bizzle's domination app <a href='http://bryanlangslet.com/'>Baller </a>
    </p>
 
    <%= link_to "Sign up Now!", signup_path, :class => "signup_button round" %>
